extends layout

block head
	link(rel='stylesheet', href='/about.css')

block content	
	include navbar
	.container-fluid.main
		.d-flex.justify-content-center.my-5
			h1 About		
		.row.mt-0
			.col-4.col-md-3.left.d-flex.justify-content-end
				h3 Background
			.col.ml-2.text-justify
				p The #[a(href='https://www.gsw.edu/Academics/Schools-and-Departments/School-of-Computing-and-Mathematics/index',target='_blank') School of Computing and Mathematics at GSW] organizes the junior mathematics tournament every year since 2011.  This tournament brings students from dozens of elementary and middle schools each year to compete in this individual competition.   	
		.row.mt-0
			.col-4.col-md-3.left.d-flex.justify-content-end
				h3 Rules
			.col.ml-2.text-justify
				p Five students from each grade (Grade 3 through Grade 8) will be  awarded.  Elementary and middle schools can bring up to 10 students from each grade.  Individuals are also welcome to register. If you have any questions, please contact #[a(href='mailto:mtourney@gsw.edu') Dr. Kailash Ghimire] by email #[a(href='mailto:mtourney@gsw.edu') mtourney@gsw.edu] or by phone #[a(href='tel:+112299317350') (229) 931-7350].
