doctype html
html
	head
		title HMT | GSW High Schools Math Tournament
		link(rel='stylesheet', href='vendor.css')
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=0.75")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		meta(name="description", content="GSW High Schools Math Tournament")
		meta(name="keywords", content="GSW, math, tournamnet, high schools, HMT, Georgia, Bill Kipp, Jay Cliett, registration")
		block head
	body
		block content
