doctype html
html
	head
		//- // Google Tag Manager
		//- script.
		//- 	(function (w, d, s, l, i) {
		//- 	w[l] = w[l] || [];
		//- 	w[l].push({
		//- 	'gtm.start': new Date().getTime(),
		//- 	event: 'gtm.js'
		//- 	});
		//- 	var f = d.getElementsByTagName(s)[0],
		//- 	j = d.createElement(s),
		//- 	dl = l != 'dataLayer' ? '&l=' + l : '';
		//- 	j.async = true;
		//- 	j.src =
		//- 	'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
		//- 	f.parentNode.insertBefore(j, f);
		//- 	})(window, document, 'script', 'dataLayer', 'GTM-WGR47HX');
		//- // End Google Tag Manager
		title HMT | GSW High Schools Math Tournament
		link(rel='stylesheet', href='/css/style.css')
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=0.75")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		meta(name="description", content="GSW High Schools Math Tournament")
		meta(name="keywords", content="GSW, math, tournamnet, high schools, HMT, Georgia, Bill Kipp, Jay Cliett, registration")
		block head
	body
		//- // Google Tag Manager (noscript)
		//- noscript
		//- 	iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-WGR47HX", height="0", width="0", style="display:none;visibility:hidden")
		//- // End Google Tag Manager (noscript)
		block content
