nav.navbar.sticky-top.navbar-dark.bg-dark
	a.navbar-brand(href="/") 
		span.d-none.d-md-inline-block
			| The Jay Cliett and Bill Kipp 
			br.my-0.d-inline-block.d-lg-none
			small GSW School Mathematics Tournament 2018 @ GSW
		span.d-inline-block.d-md-none
			| Cliett and Kipp 
			br.d-sm-none
			| GSW Math Tournament 2018