doctype html
html
	head
		link(rel='stylesheet', href='email.css', data-inline)
	body
		.container.column
			.card.p-3.mx-auto.my-3
				img.logo(src="logo_email.png").ml-auto.d-block
				hr
				h3.mb-3 Hello,
				p.text-justify You or someone else on your behalf has submitted a new registration to the #[strong Junior Math Tournament at GSW]. 
				p.text-justify Follow #[a.text-info(href=`${url}`) this link] if you'd like to #[strong confirm] your will of submission. 
				p.text-justify Unconfirmed registrations will not be processed.  
				p Thank you.
				p.signature
					| --
					| #[br]
					| JMT Mailing Robot